@font-face {
font-family: "avanl";
src: url("fonts/AVANGELI.TTF");
}

@font-face {
font-family: "avanm";
src: url("fonts/AVANGMI_.TTF");
}

@font-face {
font-family: "avanb";
src: url("fonts/AVANGID_.TTF");
}

@font-face {
font-family: "sun";
src: url("fonts/Sun Valley - Demo.ttf");
}
html, body{
    height: 100%;
    margin: 0px;
    background-color: white;
    overflow-x: hidden;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#nav-bar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
    overflow-x: hidden;
}

#nav-bar a{
    font-family: avanm;
    font-size: 25px;
    text-decoration: none;
    color: #818181;
    display: block;
    padding: 8px 50px 8px 0px;
}

#nav-bar a:hover{
    color: #f1f1f1;
}

#nav-bar .closebtn{
    position: absolute;
    font-size: 40px;
    padding: 0;
    top: 0;
    margin-left: 200px;
}

#access-bar{
    display: table;
    height: 100%;
    text-align: center;
    margin-right: 50px;
    position: fixed;
    right: 0;
    width: 20px;
    z-index: 2;
}

#access-bar a{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    background-color: rgba(218,178,57,0.7);
    color:white;
    font-weight:bolder;
    font-size: 20px;
}

#access-bar a:hover{
    animation:accessBar 0.5s infinite;
}
#access-bar span{
    display: table-cell;
    vertical-align: middle;
}
#layer1{
    height: 100%;
    width: 100%;
    background-color: rgb(84,189,159);
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

#l1h1{
    font-family: avanl;
    margin-top: 300px;
    width: 40%;
    float: left;
    color: white;
}

#layer1 h1 span{
    font-family: sun;
    font-size: 40px;
}

#l1img{
    width: 50%;
    float: left;
    margin-left: 5%;
    margin-top: 150px;
}

/*
#layer1 img{
    margin-top: 50px;
    margin-left: 17%;
}

#layer1 h1{
    width: 50%;
    margin-top: 10px;
    margin-left: 17%;
}*/
#layer2{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #E39517;
    background-image: url(images/dark-denim-3.png);
}
#l2content1 h1 span{
    font-family: sans-serif;
}
#l2content1 h1{
    color: white;
    font-family: sun;
    font-size: 70px;
    margin: 0px;
    padding-top: 40%;
    padding-left: 80px;
}

#l2content1{
    margin: 0px;
    padding: 0px;
    width: 50%;
    height: 100%;
    background-color: darkslategray;
}

.rect p{
    padding-right: 20px;
    font-family: avanl;
}
.rect h1{
    font-size: 20px;
    font-family: avanm;
    color: darkslategray;
}
.rect{
    width: 50%;
    height: 50%;
    float: left;
}
.rect img{
    height: 50px;
}
.rect img:hover{
    opacity: 0.5;
}
#l2content{
    position: relative;
    left: 30%;
    bottom: 85%;
    margin-bottom: -85%;
    padding: 40px;
    height: 67.5%;
    width: 60%;
    background-color: white;
}
#layer3{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: skyblue;
    background-image: url(images/dark-denim-3.png);
    text-align: center;
}
#l3content1 h1 span{
    font-family: sans-serif;
}
#l3content1 h1{
    padding-top: 40%;
    padding-left: 10%;
    color: white;
    font-family: sun;
    font-size: 70px;
    margin: 0px;
}

#l3content1{
    margin-left: 50%;
    padding: 0px;
    width: 50%;
    height: 100%;
    background-color: darkslategray;
}

#l3content2{
    position: relative;
    left: 5%;
    bottom: 85%;
    margin-bottom: -85%;
    padding: 40px;
    height: 67.5%;
    width: 60%;
    background-color: white;
}

#l3content2 p{
    margin-top: 5%;
    font-family: avanl;
    font-size: 20px;
}
#l3content2 span{
    color: darkslategray;
    font-family: avanb;
    font-size: 30px;
}

#layer4{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: rgba(218,178,57,0.7);
    background-image: url(images/dark-denim-3.png);
}

#l4content1 h1{
    color: white;
    font-family: sun;
    font-size: 70px;
    margin: 0px;
    padding-top: 40%;
    padding-left: 80px;
}

#l4content1{
    margin: 0px;
    padding: 0px;
    width: 50%;
    height: 100%;
    background-color: darkslategray;
}

#l4content2{
    position: relative;
    left: 30%;
    bottom: 87.5%;
    margin-bottom: -87.5%;
    height: 75%;
    width: 55%;
    background-color: white;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#layer5{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #212529;
    text-align: center;
    background-image: url(images/map-image.png);
}

#layer5 form h1{
    margin: 0;
    padding-top: 50px;
    color: white;
    font-family: avanl;
    font-size: 50px;
}

#layer5 form hr{
    width: 50%;
}

#layer5 form input{
    padding: 10px;
    margin: 10px;
    width: 30%;
    height: 5%;
    border-radius: 20px;
}

#layer5 form input:focus{
    outline-width: 0px;
}

#submit{
    background-color: #212529;
    font-family: monospace;
    color: white;
}


#footer #left{
    margin-top: 40px;
    padding-bottom: 40px;
    width: 50%;
    float: left;
    font-size: 20px;
    font-family: avanl;
    color: white;
    background-color: #212529;
}

#footer #left p{
    font-size: 25px;
    margin: 0px;
}

#footer #right{
    margin-top: 40px;
    padding-bottom: 40px;
    font-size: 30px;
    width: 50%;
    float: right;
    background-color: #212529;
}
#footer #right h1{
    font-size: 30px;
    font-family: avanl;
    color: white;
}
.fa{
    padding: 20px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    border: 1px solid white;
    background: white;
}

.fa:hover{
    background-color: darkslategray;
    color: white;
    text-decoration: none;
}

.fa-facebook {
    background: #212529;
    color: white;
}

.fa-twitter {
    background: #212529;
    color: white;
}

.fa-google {
    background: #212529;
    color: white;
}

.fa-linkedin {
    background: #212529;
    color: white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.scroll-down {
    position: absolute;
    bottom: 0px;
    width: 100%;
    animation: myScale 1s infinite;
}

.scroll-down:hover{
    animation: none;
}

.scroll-down img{
    width: 40px;
}

@keyframes myScale{
    0% {bottom: 0px;}
    35% {bottom: 15px;}
    70% {bottom: 0px;}
    85%{bottom: 7.5px;}
    100%{bottom: 0px;}
}
@keyframes accessBar{
    0%{transform: scale(1);
    background-color: rgba(218,178,57,0.5);}
    100%{transform: scale(1.3);
    background-color: rgba(218,178,57,1);}
}
@keyframes l1ImgAnimate{
    0%{ }
    100%{margin-top: 70px;
    margin-left: 17%;}
}

@keyframes l1ImgAnimateb{
    0%{ margin-top: 70px;
    margin-left: 17%;}
    100%{margin-top: 150px;
    margin-left: 5%;}
}

@keyframes l1H1Animate{
    0%{ }
    100%{width: 50%;
    margin-top: 10px;
    margin-left: 17%;}
}

@keyframes l1H1Animateb{
    0%{width: 50%;
    margin-top: 10px;
    margin-left: 17%;}
    
    100%{
    margin-top: 300px;
    width: 40%;
    }
}
